<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RumboSGA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RumboSGA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSOrdenProduccionMotorSoapBinding" />
        <binding name="WSEmbalajeMotorSoapBinding" />
        <binding name="WSEmbalajeMotorSoapBinding1" />
        <binding name="WSArticulosSoapBinding" />
        <binding name="WSCargaMotorSoapBinding" />
        <binding name="WSEntradaMotorSoapBinding" />
        <binding name="WSLotesSoapBinding" />
        <binding name="WSOrdenProduccionMotorSoapBinding1" />
        <binding name="WSProduccionMotorSoapBinding" />
        <binding name="WSTareasPendientesMotorSoapBinding" />
        <binding name="WSUbicarMotorSoapBinding" />
        <binding name="WSVariablesSoapBinding" />
        <binding name="WSReservaMotorSoapBinding" />
        <binding name="WSOperarioMotorSoapBinding" />
        <binding name="WSRecepcionMotorSoapBinding" />
        <binding name="WSPackingListMotorSoapBinding" />
        <binding name="WSSalidaMotorSoapBinding" />
        <binding name="WSPedidoCliMotorSoapBinding" />
        <binding name="WSDevolucionesMotorSoapBinding" />
        <binding name="WSReservaMotorSoapBinding1" />
        <binding name="WSDevolucionesMotorSoapBinding1" />
        <binding name="WSPackingListMotorSoapBinding1" />
        <binding name="WSOrdenProduccionMotorSoapBinding2" />
        <binding name="WSRecursoMotorSoapBinding" />
        <binding name="WSArticulosSoapBinding1" />
        <binding name="WSOperarioMotorSoapBinding1" />
        <binding name="WSOrdenProduccionMotorSoapBinding3" />
        <binding name="WSCargaMotorSoapBinding1" />
        <binding name="WSClasificacionSoapBinding" />
        <binding name="WSRecepcionMotorSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/RumboServices/services/WSOrdenProduccionMotor"
        binding="basicHttpBinding" bindingConfiguration="WSOrdenProduccionMotorSoapBinding"
        contract="OrdenProduccionMotor.WSOrdenProduccionMotor" name="WSOrdenProduccionMotor" />
      <endpoint address="http://172.20.8.91:9080/RumboServices/services/WSEmbalajeMotor"
        binding="basicHttpBinding" bindingConfiguration="WSEmbalajeMotorSoapBinding"
        contract="EmbalajesMotor.WSEmbalajeMotor" name="WSEmbalajeMotor" />
      <endpoint address="http://172.20.8.91:9081/RumboServices/services/WSEmbalajeMotor"
        binding="basicHttpBinding" bindingConfiguration="WSEmbalajeMotorSoapBinding1"
        contract="EmbalajesMotor.WSEmbalajeMotor" name="WSEmbalajeMotor1" />
      <endpoint address="http://172.20.8.91:9081/RumboServices/services/WSArticulos"
        binding="basicHttpBinding" bindingConfiguration="WSArticulosSoapBinding"
        contract="ArticulosMotor.WSArticulos" name="WSArticulos" />
      <endpoint address="http://172.20.8.91:9081/RumboServices/services/WSTareasPendientesMotor"
        binding="basicHttpBinding" bindingConfiguration="WSTareasPendientesMotorSoapBinding"
        contract="TareasMotor.WSTareasPendientesMotor" name="WSTareasPendientesMotor" />
      <endpoint address="http://172.20.8.91:9081/RumboServices/services/WSUbicarMotor"
        binding="basicHttpBinding" bindingConfiguration="WSUbicarMotorSoapBinding"
        contract="UbicarMotor.WSUbicarMotor" name="WSUbicarMotor" />
      <endpoint address="http://172.20.8.91:9081/RumboServices/services/WSVariables"
        binding="basicHttpBinding" bindingConfiguration="WSVariablesSoapBinding"
        contract="VariablesMotor.WSVariables" name="WSVariables" />
      <endpoint address="http://localhost:8080/RumboServices/services/WSLotes"
        binding="basicHttpBinding" bindingConfiguration="WSLotesSoapBinding"
        contract="LotesMotor.WSLotes" name="WSLotes" />
      <endpoint address="http://localhost:8080/RumboServices/services/WSOperarioMotor"
        binding="basicHttpBinding" bindingConfiguration="WSOperarioMotorSoapBinding"
        contract="OperarioMotor.WSOperarioMotor" name="WSOperarioMotor" />
      <endpoint address="http://localhost:8080/RumboServices/services/WSCargaMotor"
        binding="basicHttpBinding" bindingConfiguration="WSCargaMotorSoapBinding"
        contract="CargaMotor.WSCargaMotor" name="WSCargaMotor" />
      <endpoint address="http://localhost:8080/RumboServices/services/WSPackingListMotor"
        binding="basicHttpBinding" bindingConfiguration="WSPackingListMotorSoapBinding"
        contract="PackingListMotor.WSPackingListMotor" name="WSPackingListMotor" />
      <endpoint address="http://localhost:8080/RumboServices/services/WSSalidaMotor"
        binding="basicHttpBinding" bindingConfiguration="WSSalidaMotorSoapBinding"
        contract="SalidaMotor.WSSalidaMotor" name="WSSalidaMotor" />
      <endpoint address="http://localhost:9080/RumboServices/services/WSReservaMotor"
        binding="basicHttpBinding" bindingConfiguration="WSReservaMotorSoapBinding"
        contract="ReservaMotor.WSReservaMotor" name="WSReservaMotor" />
      <endpoint address="http://172.20.8.91:9081/RumboServices/services/WSDevolucionesMotor"
        binding="basicHttpBinding" bindingConfiguration="WSDevolucionesMotorSoapBinding"
        contract="DevolucionesMotor.WSDevolucionesMotor" name="WSDevolucionesMotor" />
      <endpoint address="http://172.20.8.91:9081/RumboServices/services/WSPedidoCliMotor"
        binding="basicHttpBinding" bindingConfiguration="WSPedidoCliMotorSoapBinding"
        contract="PedidoCliMotor.WSPedidoCliMotor" name="WSPedidoCliMotor" />
      <endpoint address="http://localhost:9080/RumboServices/services/WSReservaMotor"
        binding="basicHttpBinding" bindingConfiguration="WSReservaMotorSoapBinding1"
        contract="ReservaMotor.WSReservaMotor" name="WSReservaMotor1" />
      <endpoint address="http://172.20.8.91:9081/RumboServices/services/WSProduccionMotor"
        binding="basicHttpBinding" bindingConfiguration="WSProduccionMotorSoapBinding"
        contract="ProduccionMotor.WSProduccionMotor" name="WSProduccionMotor" />
      <endpoint address="http://172.20.8.91:9081/RumboServices/services/WSDevolucionesMotor"
        binding="basicHttpBinding" bindingConfiguration="WSDevolucionesMotorSoapBinding1"
        contract="DevolucionesMotor.WSDevolucionesMotor" name="WSDevolucionesMotor1" />
      <endpoint address="http://172.20.8.91:9081/RumboServices/services/WSPackingListMotor"
        binding="basicHttpBinding" bindingConfiguration="WSPackingListMotorSoapBinding1"
        contract="PackingListMotor.WSPackingListMotor" name="WSPackingListMotor1" />
      <endpoint address="http://172.20.8.91:9081/RumboServices/services/WSOrdenProduccionMotor"
        binding="basicHttpBinding" bindingConfiguration="WSOrdenProduccionMotorSoapBinding2"
        contract="OrdenProduccionMotor.WSOrdenProduccionMotor" name="WSOrdenProduccionMotor1" />
      <endpoint address="http://172.20.8.91:9081/RumboServices/services/WSRecursoMotor"
        binding="basicHttpBinding" bindingConfiguration="WSRecursoMotorSoapBinding"
        contract="RecursoMotor.WSRecursoMotor" name="WSRecursoMotor" />
      <endpoint address="http://172.20.8.91:9081/RumboServices/services/WSArticulos"
        binding="basicHttpBinding" bindingConfiguration="WSArticulosSoapBinding1"
        contract="ArticulosMotor.WSArticulos" name="WSArticulos1" />
      <endpoint address="http://172.20.8.91:9081/RumboServices/services/WSOperarioMotor"
        binding="basicHttpBinding" bindingConfiguration="WSOperarioMotorSoapBinding1"
        contract="OperarioMotor.WSOperarioMotor" name="WSOperarioMotor1" />
      <endpoint address="http://172.20.8.91:9081/RumboServices/services/WSOrdenProduccionMotor"
        binding="basicHttpBinding" bindingConfiguration="WSOrdenProduccionMotorSoapBinding3"
        contract="OrdenProduccionMotor.WSOrdenProduccionMotor" name="WSOrdenProduccionMotor2" />
      <endpoint address="http://172.20.8.91:9081/RumboServices/services/WSCargaMotor"
        binding="basicHttpBinding" bindingConfiguration="WSCargaMotorSoapBinding1"
        contract="CargaMotor.WSCargaMotor" name="WSCargaMotor1" />
      <endpoint address="http://172.20.8.91:9081/RumboClasificacionEntradaServices/services/WSClasificacion"
        binding="basicHttpBinding" bindingConfiguration="WSClasificacionSoapBinding"
        contract="Clasificacion.WSClasificacion" name="WSClasificacion" />
      <endpoint address="http://localhost:8080/RumboServices/services/WSEntradaMotor"
        binding="basicHttpBinding" bindingConfiguration="WSEntradaMotorSoapBinding"
        contract="EntradaMotor.WSEntradaMotor" name="WSEntradaMotor" />
      <endpoint address="http://localhost:8080/RumboServices/services/WSRecepcionMotor"
        binding="basicHttpBinding" bindingConfiguration="WSRecepcionMotorSoapBinding1"
        contract="RecepcionMotor.WSRecepcionMotor" name="WSRecepcionMotor" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="directorioBase" value="C:\Rumbo" />
    <add key="directorioGlobal" value="\\172.20.8.136\p\RumboEstilos" />
    <add key="directorioLocal" value="C:\Rumbo\RumboEstilos" />
    <add key="lenguajes" value="X:\Lenguajes" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	<add key="TelerikWinFormsThemeName" value="Fluent" /></appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <RumboSGA.Properties.Settings>
      <setting name="usuario" serializeAs="String">
        <value />
      </setting>
      <setting name="idioma" serializeAs="String">
        <value />
      </setting>
      <setting name="configuracion" serializeAs="String">
        <value />
      </setting>
    </RumboSGA.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <RumboSGA.Properties.Settings>
      <setting name="RumboSGA_ProduccionMotor_WSProduccionMotorService" serializeAs="String">
        <value>http://172.20.8.91:9080/RumboServices/services/WSProduccionMotor</value>
      </setting>
      <setting name="RumboSGA_SalidaMotor_WSSalidaMotorService" serializeAs="String">
        <value>http://172.20.8.91:9080/RumboServices/services/WSSalidaMotor</value>
      </setting>
      <setting name="RumboSGA_UbicarMotor_WSUbicarMotorService" serializeAs="String">
        <value>http://172.20.8.91:9080/RumboServices/services/WSUbicarMotor</value>
      </setting>
      <setting name="RumboSGA_RecepcionMotor_WSRecepcionMotorService" serializeAs="String">
        <value>http://172.20.8.91:9080/RumboServices/services/WSRecepcionMotor</value>
      </setting>
    </RumboSGA.Properties.Settings>
  </applicationSettings>
</configuration>