<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  </startup>
  <appSettings>
    <add key="TelerikWinFormsThemeName" value="Fluent" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.UI" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2021.3.1123.40" newVersion="2021.3.1123.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.GridView" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2021.3.1123.40" newVersion="2021.3.1123.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2021.3.1123.40" newVersion="2021.3.1123.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TelerikData" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2021.3.1123.40" newVersion="2021.3.1123.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.RadDiagram" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2021.3.1123.40" newVersion="2021.3.1123.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Spreadsheet" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2021.3.1109.40" newVersion="2021.3.1109.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.RadSpreadsheet" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2021.3.1123.40" newVersion="2021.3.1123.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Core" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2021.3.1109.40" newVersion="2021.3.1109.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.ChartView" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2021.3.1123.40" newVersion="2021.3.1123.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.RadChart" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2021.3.1123.40" newVersion="2021.3.1123.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.Scheduler" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2021.3.1123.40" newVersion="2021.3.1123.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TelerikExport" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2021.3.1123.40" newVersion="2021.3.1123.40" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>